<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGSxwYyrB36MFkvEdnTkfIYtxc0QOdy1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>880078116422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.qleap.intrcptr</string>
	<key>PROJECT_ID</key>
	<string>interceptor-51c8a</string>
	<key>STORAGE_BUCKET</key>
	<string>interceptor-51c8a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:880078116422:ios:c05751f58e9fdc9ba61c47</string>
</dict>
</plist>
